.main {
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;

	.article {
		display: flex;
		flex-flow: column;
		width: calc(100% - 17rem);

		.article-section {
			display: flex;
			flex-flow: column nowrap;
		}

		.article-post-sections {
			display: flex;
			flex-flow: column;
			width: 80ch;

			.article-post-sections-actions {
				display: flex;
				flex-flow: row wrap;
				gap: 1rem;
			}
		}
	}

	.aside {
		display: flex;
		flex-flow: column;
		width: 13rem;
		padding-block-start: 5rem;
		padding-inline-end: 2rem;
	}
}